*.asd
*.as2
mkcl_min
ucd.dat
help.doc
HELP.DOC
BUILD-STAMP
TAGS
bare.lsp
compile.lsp
compile.pre
config.log
config.status
ext/
ext-dir-exists
bin/
encodings/
ENCODINGS/
include/
lib/
test/
autom4te.cache/
asdf-stage/
asdf-stage-dir-exists
