*.asd
*.as2
mkcl_min
mkcl_min.exe
mkcl
mkcl.exe
mkcl-small
mkcl-small.exe
mkcl-full
mkcl-full.exe
mkcc
mkcc.exe
mkcl-config
mkcl-config.pre
ucd.dat
help.doc
HELP.DOC
BUILD-STAMP
TAGS
bare.lsp
compile.lsp
compile.pre
config.log
config.status
ext-dir-exists
ext/
bin/
test/
asdf-stage-dir-exists
asdf-stage/
cov-int/
mkcl-cov-build*
receipe_for_GC
depend
encodings/
lib/
include/
.gdbinit
lsp/git_describe.lsp
